    <!-- login section start -->
    <section class="login py-20" >

        <h3 class="sub-heading"> SELECT YOUR ACCOUNT </h3>
        <h1 class="heading"> login page </h1>

        <div class="hyper-links-login">
           <a type="button" href="/student/login" class="click-btn ml-6 items text-center">Students <br/> (Owners of Certificate) </a>
           <a type="button" href="/ugc/login"  class="click-btn ml-6 items text-center">UGC <br/> (Admin of system) </a>
           <a type="button" href="/university/login" class="click-btn ml-6 items text-center">University <br/> (Creator of Certificate) </a>
           <a type="button" href="/other/login"  class="click-btn ml-6 items text-center">Client <br/> (Viewer of Certificate) </a>
        </div>

        
    </section>
    <!-- login section end -->