    <!-- registration section start -->
    <section class="registration py-20" >

        <h3 class="sub-heading"> SELECT FOR REGISTRATION </h3>
        <h1 class="heading"> registration page </h1>

        <div class="hyper-links">
           <a type="button" href="/student/registration" class="click-btn ml-6 items text-center">Students <br/> (Owners of Certificate) </a>
           <a type="button" href="/university/registration" class="click-btn ml-6 items text-center">University <br/> (Creator of Certificate) </a>
           <a type="button" href="/other/registration"  class="click-btn ml-6 items text-center">Others <br/> (Viewer of Certificate) </a>
        </div>
    </section>
    <!-- registration section end -->