<section class="home-content" style= "margin-left:100px" >
    <h3 class="sub-heading"> 
        Are you sure you want to delete this certificate? Then press-> 
        <a href="<%=targetURL%>">Delete</a>
    </h3>
    
</section>