    <!-- footer section start -->
    <footer class="footer" style="margin-top:200px">
    
        <div class="credit"> copyright @<span>UGC</span> 2021</div>
    
    </footer>
    <!-- footer section end -->