<!-- header section start -->
<header>
    <a href="/" class="logo"><i class="fas fa-link"></i>UniChain</a>

    <nav class="navbar">
        <a class="active" href="/global-redirect">Home</a>
        <a href="/about">About</a>
        <a href="/ugc/public/faq">FAQ</a>
    </nav> 

    <div class="icons">  
        <i class="fas fa-bars" id="menu-bars"></i>
        <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
        <a id="registration" href="/registration"><i class="fas fa-user-plus"></i></a>
        <a id="logout" href="/logout"><i class="fas fa-times-circle"></i></a>
    </div>
</header>
<!-- header section end -->

<!-- search form start -->
<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
<!-- search form end -->
