<section class="home-content" style="margin-left:240px">
    <h3 class="sub-heading"> Bulk Validation </h3>
    <h1 class="heading"> Check Certitificates in Bulk </h1>
    <a class="rotate-180 ml-20 float-left text-3xl" href="#"><i class="fas fa-video"></i>&nbsp; Watch Tutorial?</a>
    

<!-- Bulk Certificate search option by hash search box section start -->
<section class="login py-2" >

    <form action="/ugc/certificate/bulk/check" method="POST" id="bulkValidateForm">


        <div class="inputBox" >
            <div class="input" style="width:800px;">
                <label for="allID" class="block text-left" style="max-width: 800px;font-size:25px">
                    <span class="text-gray-700">Enter Certificate IDs (one per line)</span>
                    <textarea
                      class="form-textarea mt-1 block w-full"
                      rows="4"
                      placeholder="Enter some long form content."
                      id="allID"
                      name="allID"
                    ></textarea>
                  </label>
            </div>
            
        </div>
        
        <button type="submit" class="btn">Verify</button>
        
    </form>
    
           
      
      
  </section>
  