<section class="home-content py-20" style="margin-left:240px">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <a href="/ugc/accounts/request" class="box-topic">Account Requests</a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <a href="/ugc/accounts/completed" class="box-topic">Approved Users</a>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Check</div>
        </div>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Notifications</div>
        </div>
      </div>
    </div>
      
</section>


    <!-- Certificate Search Form  section start -->
    <section class="login py-2" style="margin-left:100px;margin-top:-10px">

      <form action='/ugc/admin/create-faq' method="POST">
         
          <div class="inputBox" >
              <div class="input" style="width:800px;">
                  <label for="question" style="font-size:25px">FAQ Question </label>
                  <input  id="question" name="question"  type="text" placeholder="Type FAQ question">
              </div>     

              <div class="input" style="width:800px;">
                <label for="answer" style="font-size:25px">FAQ Answer</label>
                <textarea 
                class ="text-base
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                 id="answer" name="answer"  type="textarea" rows="3" placeholder="Type FAQ answer"></textarea>
              </div> 
          </div>
          <button type="submit" class="btn">Verify</button>
          
      </form>
      
  </section>
  <!-- END OF faq create Form  section  -->

<!-- Faq List display  section start -->
<section class="login py-2" style="margin-left:100px;margin-top:-10px">
  <h1 class="text-5xl text-center"><u>Frequently Asked Questions</u> </h1>
  
  <div class="inputBox" >
    <% if(locals.faqs){%>
      <% faqs.forEach(function(faq){%>
        <h1 class="text-5xl mt-10"> <%= faq.question %> </h1>
        <p class="text-3xl my-10"> <%= faq.answer %> </p>
      <% }); %>
    <% } %>
  </div>
     

  
</section>