<section class="home-content" style="margin-left:240px">
    <h3 class="sub-heading"> Access Control of universities </h3>
    <h1 class="heading"> List of varsities allowed or restricted to create certificates </h1>
    <a class="rotate-180 ml-20 float-left text-3xl" href="#"><i class="fas fa-video"></i>&nbsp; Watch Tutorial?</a>
    

    <section class="home-content">
        
        <h1 class="heading"> Access to Create Certificate </h1>
        <a class="rotate-180 ml-20 float-left text-4xl" href="/ugc/accounts/request"><i class="fas fa-angle-double-right"></i></a>
      <div class="table-wrapper">
        <div class="new-table w-full mx-auto table-certificate">
          
          <div class="table-row table-header">
            <div class="cell">
              University List
            </div>
            <div class="cell">
              Access
            </div>
            
          </div>
          
          <div class="table-row table-body">
            <div class="cell" data-title="Organization Name">
              University of Liberal Arts 
            </div>
            <div class="cell" data-title="Type of Org.">
               Allowed <i class="fa fa-check" style="font-size:24px;color:green"></i>
            </div>
           
          </div> 

          <div class="table-row table-body">
            <div class="cell" data-title="Organization Name">
              University of Chittagong  
            </div>
            <div class="cell" data-title="Type of Org.">
               Restricted <i class="fa fa-close" style="font-size:24px;color:red">&#xf00d;</i>
            </div>
           
          </div>
          
          <div class="table-row table-body">
            <div class="cell" data-title="Organization Name">
              University of Narsingdi 
            </div>
            <div class="cell" data-title="Type of Org.">
               Not Approved <i class="fa fa-close" style="font-size:24px;color:red">&#xf00d;</i>
            </div>
           
          </div>

          <div class="table-row table-body">
            <div class="cell" data-title="Organization Name">
              University of Barishal 
            </div>
            <div class="cell" data-title="Type of Org.">
               Allowed<i class="fa fa-check" style="font-size:24px;color:green"></i>
            </div>
           
          </div>
          
             
        </div>    
      </div>
      <div class="m-10">
        <a class="float-right mt-6 text-2xl" href="/ugc/dashboard">Go Back</a>
      </div>
      </section>
      
    
           
      
      
  </section>
  